
/* 80s magic font */ 
@font-face {
  font-family: 'BreatheFire';
  src: url('/public/fonts/BreatheFireIii.woff') format('woff'), /* Modern Browsers */
       url('/public/fonts/BreatheFireIii.ttf')  format('truetype'), /* Safari, Android, iOS */

}

/* Set the global font */
body {
  font-family: BreatheFire, sans-serif;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.title {
  margin: 0;
  padding-left: 10px;
  color: whitesmoke;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.questionMark {
  font-weight: bold;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Main Content Styles */
.main-content {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 80vh;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}